Section: misc
Priority: optional
Homepage: https://github.com/ypcs/device-macbookair62
Standards-Version: 3.9.2

Package: device-macbookair62
Maintainer: Ville Korhonen <ville@xd.fi>
Depends: broadcom-sta-dkms
Architecture: amd64
Changelog: debian/changelog
Description: Package for adding cool bits to MacBookAir6,2.
 Blah blah.
